<!DOCTYPE html>
<html lang="EN">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        <link rel="stylesheet"
              th:href="@{/vendor/custom/custom-add_card.css}">
        <title>
            Adding Cards
        </title>
        <script>$(document).ready(function() {
            $('.js-example-basic-single').select2();
            $(".select").each(function() {
                $(this).siblings(".select2-container").css('border', '5px solid red');
            });
        });</script>
    </head>
    <body class = "home-body">
        <div class = "header-custom">
            Add A New Card to Database
        </div>
        <div class = "section">
                <form action = "#" th:action="@{/addcard}" method="POST" th:object="${UCIE}" class = "form_box">
                    <div class="input">
                        <input class="input-field" required th:field="*{id}" type=number>
                        <label class = "input-label"> ID </label>
                    </div>
                    <div class="input_drop">
                        <select id = setname class = "js-example-basic-single " th:field="*{setId}" >
                            <option th:each="name : ${setnames}" th:text="${name}" th:value="${name}" ></option>
                        </select>
                    </div>
                    <div class="input_drop">
                        <select id = varietyname class = "js-example-basic-single " th:field="*{varietyName}" >
                            <option th:each="name : ${varietyname}" th:text="${name}" th:value="${name}" ></option>
                        </select>
                    </div>
                    <button class = "btn-custom">Submit</button>
                    <a type="button" class = "btn-custom" style= "margin: -3px;margin-top: 1rem;" th:href="@{/main}">Return to home</a>
                </form>
        </div>
        <div class = "footer2right">
            <a class = "btn-custom2" th:href="@{/addcard/addallsets}">Update Sets</a>
        </div>
    </body>
</html>
