<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Card Verification
    </title>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="stylesheet"
          th:href="@{/vendor/custom/custom-add-success.css}">
</head>
<body class = "home-body">
<!--<div class="section-bg">-->

</div>
<div class = "section">
    <img th:src = ${link}>
    <div class = "the-question"> Is this the card?</div>
    <br>
    <div class="btn-group my-1 " role="group">
        <a type="button"  class="btn-custom mx-1" th:href="@{/addcardconfirm}">Yes</a>
        <a type="button"  class="btn-custom mx-1" th:href="@{/addcard}">No</a>
    </div>
</div>
</body>