<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/custom.css}">
    <link rel="stylesheet"
          th:href="@{/vendor/custom/custom-add_card.css}">
</head>
<body>
    <div class = "backpage">
        <div class="form-box">

        </div>
    </div>
</body>
</html>