<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/custom.css}">
    <link rel="stylesheet"
          th:href="@{/vendor/custom/custom-home.css}">
    <script>
        window.addEventListener("load",function(){
                var email = document.getElementById("email");
                email.addEventListener("keyup",(event)=> {
                    email.value = email.value.replaceAll(" ","");
                    if (!String(email.value).toLowerCase().match(
                        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/))
                        console.log(`Email is not valid!`);
                } );
        });
    </script>

</head>
<body class = "home-body">
<div class = "header-custom">
    Welcome to Pokemon TCG DRMS
    <br>
    GUI Version
</div>
<div class = "backpage">
    <div class = "form_box">
        <div class = "innout">
            <div id = "btn"></div>
            <button type ="button" class="toggle-btn" onclick="signin()">Sign In</button>
            <button type ="button" class="toggle-btn" onclick="signup()">Sign Up</button>
        </div>
        <form action="#" class="input-group" id="signin" method="POST" th:action="@{/signin}" th:object="${User}">
            <input class="input-field" id="email" placeholder="User email" required
                   th:field="*{email}" type="text">
            <input type="password" th:field="*{password}" class="input-field" placeholder="Enter Password" required >
            <input type="checkbox" class="check-box"><span>Remember Password</span>
            <button type="submit" class="btn-custom2-bigmid">Login</button>
            <a class="forgor" th:href="@{/forgotpassword}"> Forgot Password? </a>
        </form>
        <form id="signup" class = "input-group">
            <input type="email" class="input-field" placeholder="Email ID" required>
            <input type="text" class="input-field" placeholder="Enter Password" required>
            <input type="text" class="input-field" placeholder="Re-Enter Password" required>
            <br>
            <button type="submit" class="btn-custom2-bigmid">Login</button>
        </form>
    </div>
</div>
<script>
    var x = document.getElementById("signin");
    var y = document.getElementById("signup");
    var z = document.getElementById("btn");

    function signup(){
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "215px";
    }

    function signin(){
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "80px";
    }
</script>
</body>
</html>