<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/custom.css}">
    <style> body {background-color:#E85B4D;}
    h1
    {text-align: center;
        color : #1C1917 }
    h2
    {text-align: center;
        color : #1C1917 }
    </style>
</head>
<body class = "home-body2">
<div>

</div>
<form action = "#" th:action="@{/addPackage/addallsets}" method="post">
    <div class = "footer2right">
        <button class = "btn-custom2">Update Sets</button>
    </div>
</form>
<div class = "footer2">
Pokemon (c) Nintendo | Wallpaper by MapelRoss
</div>
</body>
