<!DOCTYPE html>
<html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <link rel="stylesheet" th:href="@{/vendor/custom/custom-home.css}">
        <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet"
              th:href="@{/vendor/custom/custom-main.css}">
<!--        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->
    </head>
    <body class = "home-body">
<div class = "header-custom">
    Welcome to Pokemon TCG DRMS
    <br>a
    GUI Version
</div>
<body class="home-body">
    <div class="form_box">
        <a type="button" class="btn-custom2-bigmid " th:href="@{/addcard}">Add A Card</a>
        <a type="button" class="btn-custom2-bigmid " th:href="@{/addPackage}">Add A Package</a>
        <button type="button" class="btn-custom mx-1">Sell A Card</button>
    </div>
</body>
</html>

<!--Pokemon (c) Nintendo | Wallpaper by MapelRoss-->