<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgor</title>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/custom.css}">
    <link rel="stylesheet"
          th:href="@{/vendor/custom/custom-verify.css}">
</head>
<div class = "header-custom">
    Verify your account!
</div>
<body class = "home-body">
<div class = "form_box">
    <div class = "header_in_form"> Sometimes its best to verify accounts, so we can keep those sneaky zoruas away !</div>
    <form action="#" class = "input-group" method="POST" th:action="@{/verify}">
        <input class="input-field" id="email" name="email" placeholder="Account Email" required
              type="text">
        <button type="submit" class="btn-custom2-bigmid">Verify Account</button>
    </form>
    <div class = "footer_in_form"> You should have received an email containing instructions to verify account </div>
</div>
</body>
</html>